{% extends 'home/index.html.twig' %}
{% block content %}
<section class="hero">
    <div class="container">
      <img src="{{ asset('img/logo-white.png') }}" alt="Logo" height="50" class="mb-5">
      <h1>Kelola Bisnis Anda<br>Kapan Saja dan Dimana Saja</h1>
      <p>Bangun bisnis yang lebih efisien dan terorganisir dengan inLavorie, <br/>solusi <i>Bussines Core Software</i> modern berbasis cloud.</p>
      <a href="#" class="btn btn-danger btn-cta text-bold">Coba Gratis!</a>
    </div>
</section>

{% endblock %}